.main {
  width: 400px;
  display: flow-root;
  margin: 0 auto;
  padding: 0 200px;
}
img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}
.img-female img {
  float: left;
}

.img-male img:first-child {
  float: left;
  clear: left;
}
.img-male img:nth-child(n + 2) {
  float: left;
}
.offline,
.online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  float: left;
  position: relative;
  top: 58px;
  right: 28px;
}

.offline {
  background-color: #dbdbdb;
}
.online {
  background-color: #4cfe88;
}
.online-two,
.offline-four {
  top: -26px;
  left: 355px;
}

/* -------------------------------------------------------------------------- */
/*                          flex를 지원하는 웹브라우저를 위한 스타일                   */
/* -------------------------------------------------------------------------- */
/* 
@supports (display: flex) {
} */
